services:
  app:
    build:
      context: .
    container_name: handbrake-daemon-app
    volumes:
      - .:/workspaces/handbrake-daemon
      - /media/libo/Videos/Transcode:/workspaces/handbrake-daemon/assets
    runtime: nvidia
