services:
  app:
    build:
      context: .
    container_name: handbrake-daemon-app
    volumes:
      - .:/workspaces/handbrake-daemon
      - /media/libo/Videos/Transcode:/workspaces/handbrake-daemon/assets
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    runtime: nvidia
    entrypoint: ["python", "-m", "handbrake_daemon.worker"]
