services:
  app:
    build:
      context: .
      args:
        APT_PROXY: http://192.168.0.4:3142
        PYPI_PROXY: http://192.168.0.4:3141/root/pypi/+simple/
    container_name: handbrake-daemon-app
    init: true
    runtime: nvidia
    restart: on-failure:3
    volumes:
      - /media/libo-smallfiles/Transcode:/workspaces/handbrake-daemon/assets
    network_mode: none
    healthcheck:
      test: ["CMD", "nvidia-smi"]
      interval: 60s
      timeout: 10s
      start_period: 30s
