services:
  app:
    build:
      context: .
      args:
        APT_PROXY: http://192.168.0.4:3142
        PYPI_PROXY: http://192.168.0.4:3141/root/pypi/+simple/
    init: true
    container_name: handbrake-daemon-app
    volumes:
      - .:/workspaces/handbrake-daemon
      - /media/libo-largefiles/Videos/Transcode:/workspaces/handbrake-daemon/assets
    runtime: nvidia
